@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --background-color:hsl(216, 79%, 68%);
    --font-color:white;
    --background-color-hover:hsl(216, 79%, 63%);
}
body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
  flex-direction: column;
}
html, body {
    height: 100%;
    min-height: 100%;
  }
.container{
    margin: auto;
    display: block;
    border-radius: 12px;
    padding: 4rem 1rem;
}
h1{
    padding-bottom: 1.5rem;
}
.center{
    text-align: center;
}
#text-input{
    padding: 0.5rem 0.5rem;
    border-color: blue;
    outline: none;
    border-radius: 12px;
    margin-top: 1rem;
}
#date-input{
    padding: 0.4rem 1.4rem;
    margin: 2rem 0;
    border-color: blue;
    outline: none;
    border-radius: 12px;
}
#calculate-btn{
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: 12px;
    border: 1px solid black;
    
}
#calculate-btn:hover{
    background-color: var(--background-color-hover);
}
footer{
    background-color: var(--background-color);
    border-top-right-radius: 16px;
}
.non-bullet{
    list-style: none;
}
.footer-heading{
    margin: auto;
}
.inline{
    display: flex;
}
.p-lr{
    padding: 0 5px;
}
.p-left{
    padding-left: 25px;
}
.p-tb{
    padding: 1rem;
}
.p-bottom{
    padding-bottom: 2rem;
}
.padding-top{
    padding-top: 1rem;
}
.container .image-size{
    max-width: 100%;
    max-height: 100%;
}
.small{
    display: flex; 
    justify-content: center;
}